* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(156, 207, 228);
}

.heading {
    font-size: 3rem;
    text-align: center;
}